@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

@layer base{
  body{
    @apply font-[Heebo]
  }
  li{
    @apply px-5;
    @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(255, 188, 112, 0.8),
      hsla(56, 75%, 66%, 0.8)   
  )!important;
}